[flake8]
max-line-length = 79
exclude =
	.venv,
	.venv/*,
	venv,
	venv/*,
	staticfiles,
	migrations,
	__pycache__,
	manage.py,
	settings.py
per-file-ignores =
	*/schemas.py: E501
	config/asgi.py: E402